services:
  alloy:
    image: docker.io/grafana/alloy:latest@sha256:85e4a706181741dd735d9a69bea81f9e03e16d5349bff46dd9640379f143c007
    x-tl: +!
    command: run --storage.path=/var/lib/alloy/data /etc/alloy/configuration
    networks:
      - rathole-basalt
      - alloy
    volumes:
      - ./alloy/configuration:/etc/alloy/configuration
      - /srv/data/fail2ban:/mnt/fail2ban:ro
      - /var/log:/var/log:ro

      # cadvisor
      - /:/rootfs:ro
      - /var/run:/var/run:ro
      - /sys:/sys:ro
      - /var/lib/docker/:/var/lib/docker:ro
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - /dev/disk/:/dev/disk:ro
      - /srv/data/maxmind:/mnt/maxmind:ro
    privileged: true

  maxmind:
    image: ghcr.io/maxmind/geoipupdate:latest@sha256:faecdca22579730ab0b7dea5aa9af350bb3c93cb9d39845c173639ead30346d2
    x-tl: +!
    environment:
      GEOIPUPDATE_ACCOUNT_ID: "{{ maxmind__account_id }}"
      GEOIPUPDATE_LICENSE_KEY: "{{ maxmind__license_key }}"
      GEOIPUPDATE_EDITION_IDS: 'GeoLite2-City GeoLite2-Country'
      GEOIPUPDATE_FREQUENCY: '72'
    volumes:
      - /srv/data/maxmind:/usr/share/GeoIP

networks:
  alloy:

