services:
  wireguard:
    image: lscr.io/linuxserver/wireguard:latest@sha256:5f99e7b3282abcfeab627011a4b312b3f070dbd7fb83f7aed886f755823b3dad
    x-tl: +!
    networks:
      - wireguard
    cap_add:
      - NET_ADMIN
      - SYS_MODULE
    environment:
      PUID: 1000
      PGID: 1000
      TZ: Etc/UTC
      PEERS: 1
    volumes:
      - wireguard-data:/config
    ports:
      - 51820:51820/udp

volumes:
  wireguard-data:

networks:
  wireguard:

