services:
  wireguard:
    image: lscr.io/linuxserver/wireguard:latest@sha256:14d1da065306c97d0a7171901221027dcbaa4be6c8731a3d8bdc54d57a92bbfe
    x-tl: +!
    networks:
      - wireguard
    cap_add:
      - NET_ADMIN
      - SYS_MODULE
    environment:
      PUID: 1000
      PGID: 1000
      TZ: Etc/UTC
      PEERS: 1
    volumes:
      - wireguard-data:/config
    ports:
      - 51820:51820/udp

volumes:
  wireguard-data:

networks:
  wireguard:

