services:
  wireguard:
    image: lscr.io/linuxserver/wireguard:latest@sha256:54404efbd31386d3301f967529ce7bf9d17943fdc0bd7badd451570f505773bf
    x-tl: +!
    networks:
      - wireguard
    cap_add:
      - NET_ADMIN
      - SYS_MODULE
    environment:
      PUID: 1000
      PGID: 1000
      TZ: Etc/UTC
      PEERS: 1
    volumes:
      - wireguard-data:/config
    ports:
      - 51820:51820/udp

volumes:
  wireguard-data:

networks:
  wireguard:

