services:
  nginx:
    networks:
      - nginx
    image: docker.io/nginxproxy/nginx-proxy:latest@sha256:970f3fe1a89b67229dfd37e77e26f60f8b8c29d93badb000a29270ace4811d8f
    x-tl: +!
    ports:
      - 443:443
      - 80:80
    volumes: 
      - nginx-certs:/etc/nginx/certs
      - nginx-vhost:/etc/nginx/vhost.d
      - nginx-html:/usr/share/nginx/html
      - ./nginx/elysium-stage.location.conf:/etc/nginx/vhost.d/elysium-stage.haondt.dev_42099b4af021e53fd8fd4e056c2568d7c2e3ffa8_location_override
      - ./nginx/elysium-stage-silo.location.conf:/etc/nginx/vhost.d/elysium-stage-silo.chert_42099b4af021e53fd8fd4e056c2568d7c2e3ffa8_location_override
      - ./nginx/elysium-stage-cloudflare-cert.crt:/etc/nginx/certs/elysium-stage.haondt.dev.crt
      - ./nginx/elysium-stage-cloudflare-cert.key:/etc/nginx/certs/elysium-stage.haondt.dev.key
      # - ./nginx/authelia-cf-cert.key:/etc/nginx/certs/auth.haondt.dev.key
      # - ./nginx/authelia-cf-cert.crt:/etc/nginx/certs/auth.haondt.dev.crt
      # - ./nginx/api-cf-cert.key:/etc/nginx/certs/api.haondt.dev.key
      # - ./nginx/api-cf-cert.crt:/etc/nginx/certs/api.haondt.dev.crt
      # - ./nginx/website-haondt-cloudflare-cert.key:/etc/nginx/certs/haondt.dev.key
      # - ./nginx/website-haondt-cloudflare-cert.crt:/etc/nginx/certs/haondt.dev.crt
      - ./nginx/jellyfin.location.conf:/etc/nginx/vhost.d/jellyfin.haondt.dev_location_override
      - ./nginx/status.location.conf:/etc/nginx/vhost.d/status.haondt.dev_location_override
      - ./nginx/emby.location.conf:/etc/nginx/vhost.d/emby.haondt.dev_location_override
      - ./nginx/aeeo.location.conf:/etc/nginx/vhost.d/{{ aeeo__domain }}_location_override
      - ./nginx/haondt-cf-cert.key:/etc/nginx/certs/haondt.dev.key
      - ./nginx/haondt-cf-cert.crt:/etc/nginx/certs/haondt.dev.crt
      - ./nginx/authelia.conf:/etc/nginx/vhost.d/auth.haondt.dev
      - ./nginx/authelia.location.conf:/etc/nginx/vhost.d/auth.haondt.dev_location
      - ./nginx/proxy.conf:/etc/nginx/proxy.conf
      - ./nginx/microbin-cloud.conf:/etc/nginx/vhost.d/microbin.cloud.haondt.dev
      - ./nginx/microbin-cloud.location.conf:/etc/nginx/vhost.d/microbin.cloud.haondt.dev_location_override
      - ./nginx/linktiles.conf:/etc/nginx/vhost.d/linktiles.cloud.haondt.dev
      - ./nginx/linktiles.location.conf:/etc/nginx/vhost.d/linktiles.cloud.haondt.dev_location_override
      - ./nginx/immich.conf:/etc/nginx/vhost.d/immich.cloud.haondt.dev
      - ./nginx/snippets:/config/nginx/snippets
      - /var/run/docker.sock:/tmp/docker.sock:ro
    environment:
      NO_COLOR: yes
      LOG_JSON: true
      LOG_FORMAT: '{"time_local":"$$time_iso8601","real_client_ip":"$$real_client_ip","client_ip":"$$http_x_forwarded_for","remote_addr":"$$remote_addr","request":"$$request","status":"$$status","body_bytes_sent":"$$body_bytes_sent","request_time":"$$request_time","upstream_response_time":"$$upstream_response_time","upstream_addr":"$$upstream_addr","http_referrer":"$$http_referer","http_user_agent":"$$http_user_agent","request_id":"$$request_id","host":"$$host","path":"$$uri","scheme":"$$scheme"}'

  nginx-acme:
    networks:
      - nginx
    image: docker.io/nginxproxy/acme-companion:latest@sha256:3e8b590e83c31b27098993cf03ea231fe4aff6aba08e06c05b2cdea5a8ca3666
    x-tl: +!
    volumes_from:
      - nginx
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - nginx-acmesh:/etc/acme.sh

    environment:
      DEFAULT_EMAIL: "{{ cloudflare__default_email }}"
      ACME_CHALLENGE: DNS-01
      ACMESH_DNS_API_CONFIG: |-
        DNS_API: dns_cf
        CF_Token: {{ cloudflare__token }}
        CF_Zone_ID: {{ cloudflare__zone_id }}
        CF_Account_ID: {{ cloudflare__account_id }}

networks:
  nginx:

volumes:
  nginx-certs:
  nginx-vhost:
  nginx-html:
  nginx-acmesh:

