services:
  fail2ban:
    image: lscr.io/linuxserver/fail2ban:latest@sha256:265dead0e63a91b6cab34cb972ae8740c6cd358691764a7b2d8e47d6c956803d
    x-tl: +!
    cap_add:
      - NET_ADMIN
      - NET_RAW
    network_mode: host
    environment:
      PUID: 1000
      PGID: 1000
      TZ: Etc/UTC
      VERBOSITY: -vv
    volumes: 
      - /srv/data/fail2ban:/config
      - /var/log:/var/log:ro
      - ./fail2ban/jail.local:/config/fail2ban/jail.local
      - ./fail2ban/filter.d/rathole.conf:/config/fail2ban/filter.d/rathole.conf
      - ./fail2ban/filter.d/immich.conf:/config/fail2ban/filter.d/immich.conf
      - ./fail2ban/filter.d/authelia.conf:/config/fail2ban/filter.d/authelia.conf
      - ./fail2ban/action.d/cloudflare-list.conf:/config/fail2ban/action.d/cloudflare-list.conf
      - ./fail2ban/action.d/cloudflare-list.local:/config/fail2ban/action.d/cloudflare-list.local
volumes:
  fail2ban-config:
