services:
  authelia:
    # image: docker.io/authelia/authelia:4.39@sha256:7adc2a95b6a4be9332f6a420fdf59c7031bff203d1046ab80d8fbd66f5b1095f
    image: docker.io/authelia/authelia:4.39@sha256:88f1494b6ac1174641770f106335ab67752d66e5822b4059badca220b5d6153b
    # freezing while waiting for https://github.com/authelia/authelia/issues/10726
    # x-tl: ^!
    x-tl: x
    volumes:
      - /srv/data/authelia:/config
      - ./authelia/config.yml:/config/configuration.yml
      - ./authelia/oidc-jwks-certificate.crt:/config/secrets/oidc/jwks/authelia.crt
      - ./authelia/oidc-jwks-certificate.key:/config/secrets/oidc/jwks/authelia.key
    networks:
      - authelia
      - nginx
      - alloy
    environment:
      VIRTUAL_HOST: "auth.haondt.dev"
      VIRTUAL_PORT: 9091
      HTTPS_METHOD: nohttp
      LETSENCRYPT_HOST: "auth.haondt.dev"
      X_AUTHELIA_CONFIG_FILTERS: template

  lldap:
    image: docker.io/lldap/lldap:stable@sha256:9e605a66c02514bfcffd1b67cafb1e98d50992216bb2871d7ae44622047dd09d
    x-tl: +!
    networks:
      - wireguard
      - authelia
    volumes:
      - /srv/data/lldap:/data
    environment:
      LLDAP_JWT_SECRET:  "{{ lldap__jwt_secret }}"
      LLDAP_KEY_SEED: "{{ lldap__key_seed }}"
      LLDAP_LDAP_BASE_DN: dc=haondt,dc=dev

networks:
  authelia:


