components:
  grafana:
    image: docker.io/grafana/grafana:latest@sha256:5683be4319a6da1d6ab28c3443b3739683e367f8d72d800638390a04a2680c1c
    talos: +!
    resources:
      requests.memory: 128Mi
    networking:
      ports:
        http: 3000
      gateway.http_routes:
        - port: http
          host: "grafana.{{ haondt__default_host }}"
      dependencies:
        - name: mimir
          port: http
        - name: loki
          port: http
    volumes:
      grafana-provisioning:
        src.pvc: {}
        dest.dir: /etc/grafana/provisioning
      grafana-storage:
        src.pvc: {}
        dest.dir: /var/lib/grafana
      grafana-config:
        src.file: grafana/grafana.ini
        dest.file: /etc/grafana/grafana.ini
    startup:
      tasks:
        - chmod:
            path: /var/lib/grafana
            mode: '777'
    charon:
      overlays: [daily]
      backups:
        - overlays: [default-gcs]
          repository_configs: &charon_repository_configs
            - raw: |-
                backend:
                  path: grafana-grafana
          source.volumes: &charon_source
            grafana-provisioning: [/]
            grafana-storage: [/]
        - overlays: [default-hzsb]
          repository_configs: *charon_repository_configs
          source.volumes: *charon_source
    environment:
      - raw:
          GF_SECURITY_ADMIN_USER: "{{ grafana__init_username }}"
          GF_SECURITY_ADMIN_PASSWORD: "{{ grafana__init_password }}"
        secret: true
  mimir:
    image: docker.io/grafana/mimir:3.0.3@sha256:2d097da545a71ea13c6bf061be4406fa6d4af60335c99cab389a718148ce4b2d
    talos: +:.!!*
    args: ['--config.file=/etc/mimir/mimir.yml']
    resources:
      limits:
        memory: 1Gi
      requests:
        cpu: 100m
        memory: 256Mi
    networking:
      ports:
        http: 8080
      gateway.http_routes:
        - port: http
          host: "mimir.{{ haondt__default_host }}"
      rathole_routes:
        - port: http
          direct: true
    volumes:
      mimir-data:
        src.pvc: {}
        dest.dir: /mimir
      mimir-config:
        src.file: mimir/mimir.yml
        dest.file: /etc/mimir/mimir.yml
  loki:
    image: docker.io/grafana/loki:3.6.5@sha256:847c287ada0e12603910589f42038c5cdaaad04e248bd1dc6c6e0920a235f427
    talos: ^!
    args: ['-config.file=/etc/loki/local-config.yaml']
    resources:
      limits:
        memory: 1Gi
      requests:
        cpu: 100m
        memory: 256Mi
    networking:
      ports:
        http: 3100
      gateway.http_routes:
        - port: http
          host: "loki.{{ haondt__default_host }}"
      rathole_routes:
        - port: http
          direct: true
    volumes:
      loki-data:
        src.pvc: {}
        dest.dir: /loki
      loki-config:
        src.file: loki/config.yaml
        dest.file: /etc/loki/local-config.yaml
