components:
  grafana:
    image: docker.io/grafana/grafana:latest@sha256:70d9599b186ce287be0d2c5ba9a78acb2e86c1a68c9c41449454d0fc3eeb84e8
    talos: +!
    resources:
      requests.memory: 128Mi
    networking:
      ports:
        http: 3000
      ingresses:
        - port: http
          host: "grafana.{{ haondt__default_host }}"
          tls.host: "*.{{ haondt__default_host }}"
      dependencies:
        - name: mimir
          port: http
        - name: loki
          port: http
    volumes:
      grafana-provisioning:
        src.pvc: {}
        dest.dir: /etc/grafana/provisioning
      grafana-storage:
        src.pvc: {}
        dest.dir: /var/lib/grafana
      grafana-config:
        src.file: grafana/grafana.ini
        dest.file: /etc/grafana/grafana.ini
    startup:
      tasks:
        - chmod:
            path: /var/lib/grafana
            mode: '777'
    charon:
      - overlays: [default-gcs, daily]
        repository_configs: &charon_repository_configs
          - raw: |-
              backend:
                path: grafana-grafana
        source.volumes: &charon_source
          grafana-provisioning: [/]
          grafana-storage: [/]
      - overlays: [default-hzsb, daily]
        repository_configs: *charon_repository_configs
        source.volumes: *charon_source
    environment:
      - raw:
          GF_SECURITY_ADMIN_USER: "{{ grafana__init_username }}"
          GF_SECURITY_ADMIN_PASSWORD: "{{ grafana__init_password }}"
        secret: true
  mimir:
    image: docker.io/grafana/mimir:3.0.1@sha256:5f4667c9b7164a376bd555a56b5a7074535303e1924192a267bad7f0b72893f7
    talos: +:.!!*
    args: ['--config.file=/etc/mimir/mimir.yml']
    resources:
      limits:
        memory: 1Gi
      requests:
        cpu: 100m
        memory: 256Mi
    networking:
      ports:
        http: 8080
      ingresses:
        - port: http
          host: "mimir.{{ haondt__default_host }}"
          tls.host: "*.{{ haondt__default_host }}"
      rathole_routes:
        - port: http
          direct: true
    volumes:
      mimir-data:
        src.pvc: {}
        dest.dir: /mimir
      mimir-config:
        src.file: mimir/mimir.yml
        dest.file: /etc/mimir/mimir.yml
  loki:
    image: docker.io/grafana/loki:3.6.2@sha256:fad94db64eeb0e14544953789c942453df68a860b6f760d867f06c5b31f461ab
    talos: ^!
    args: ['-config.file=/etc/loki/local-config.yaml']
    resources:
      limits:
        memory: 1Gi
      requests:
        cpu: 100m
        memory: 256Mi
    networking:
      ports:
        http: 3100
      ingresses:
        - port: http
          host: "loki.{{ haondt__default_host }}"
          tls.host: "*.{{ haondt__default_host }}"
      rathole_routes:
        - port: http
          direct: true
    volumes:
      loki-data:
        src.pvc: {}
        dest.dir: /loki
      loki-config:
        src.file: loki/config.yaml
        dest.file: /etc/loki/local-config.yaml

