components:
  grafana:
    image: docker.io/grafana/grafana:latest@sha256:2175aaa91c96733d86d31cf270d5310b278654b03f5718c59de12a865380a31f
    talos: +!
    resources:
      requests.memory: 128Mi
    networking:
      ports:
        http: 3000
      ingresses:
        - port: http
          host: "grafana.{{ haondt__default_host }}"
          tls.host: "*.{{ haondt__default_host }}"
      gateway.http_routes:
        - port: http
          host: "grafana.{{ haondt__default_host }}"
      dependencies:
        - name: mimir
          port: http
        - name: loki
          port: http
    volumes:
      grafana-provisioning:
        src.pvc: {}
        dest.dir: /etc/grafana/provisioning
      grafana-storage:
        src.pvc: {}
        dest.dir: /var/lib/grafana
      grafana-config:
        src.file: grafana/grafana.ini
        dest.file: /etc/grafana/grafana.ini
    startup:
      tasks:
        - chmod:
            path: /var/lib/grafana
            mode: '777'
    charon:
      overlays: [daily]
      backups:
        - overlays: [default-gcs]
          repository_configs: &charon_repository_configs
            - raw: |-
                backend:
                  path: grafana-grafana
          source.volumes: &charon_source
            grafana-provisioning: [/]
            grafana-storage: [/]
        - overlays: [default-hzsb]
          repository_configs: *charon_repository_configs
          source.volumes: *charon_source
    environment:
      - raw:
          GF_SECURITY_ADMIN_USER: "{{ grafana__init_username }}"
          GF_SECURITY_ADMIN_PASSWORD: "{{ grafana__init_password }}"
        secret: true
  mimir:
    image: docker.io/grafana/mimir:3.0.2@sha256:4231caf9be780e5d9113449e57a0258d388124aca74c0a14b9cf8857e23aad76
    talos: +:.!!*
    args: ['--config.file=/etc/mimir/mimir.yml']
    resources:
      limits:
        memory: 1Gi
      requests:
        cpu: 100m
        memory: 256Mi
    networking:
      ports:
        http: 8080
      ingresses:
        - port: http
          host: "mimir.{{ haondt__default_host }}"
          tls.host: "*.{{ haondt__default_host }}"
      gateway.http_routes:
        - port: http
          host: "mimir.{{ haondt__default_host }}"
      rathole_routes:
        - port: http
          direct: true
    volumes:
      mimir-data:
        src.pvc: {}
        dest.dir: /mimir
      mimir-config:
        src.file: mimir/mimir.yml
        dest.file: /etc/mimir/mimir.yml
  loki:
    image: docker.io/grafana/loki:3.6.4@sha256:be31579ac047e9f78b81e48f3b69d3af709e7299b431d5aa78bcda43382f9511
    talos: ^!
    args: ['-config.file=/etc/loki/local-config.yaml']
    resources:
      limits:
        memory: 1Gi
      requests:
        cpu: 100m
        memory: 256Mi
    networking:
      ports:
        http: 3100
      ingresses:
        - port: http
          host: "loki.{{ haondt__default_host }}"
          tls.host: "*.{{ haondt__default_host }}"
      gateway.http_routes:
        - port: http
          host: "loki.{{ haondt__default_host }}"
      rathole_routes:
        - port: http
          direct: true
    volumes:
      loki-data:
        src.pvc: {}
        dest.dir: /loki
      loki-config:
        src.file: loki/config.yaml
        dest.file: /etc/loki/local-config.yaml
