server {
    listen 80;
    server_name _;
    location ^~ / {
        return 503;
    }
}

{{- range $container := . }}
{{- $host := index $container.Env "RATHOLE_VIRTUAL_HOST" }}
{{- $port := index $container.Env "RATHOLE_VIRTUAL_PORT" }}
{{- if contains $container.Env "RATHOLE_INCLUDE" }}
# {{ $host }}
server {
    listen 80;
    server_name {{ $host }};

    proxy_http_version 1.1;
    proxy_set_header   Upgrade    $http_upgrade;
    proxy_set_header   Connection "upgrade";
    proxy_redirect     off;

    proxy_set_header X-Forwarded-Proto $scheme;

    location / {
        proxy_pass http://{{ $container.Name }}:{{ $port }};
        set $upstream_keepalive false;
        proxy_set_header Host $http_host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    }
}
{{ end }}
{{- end }}
